.view_houses_search
{
	.houses-list {

		.house-content
		{
			margin:10px;
			background:#fff;
			.drop-shadow();						

			.picture-container
			{
				border-bottom:1px solid #aaa;
				min-height:180px;
				background:#ddd;
			}

			.house-body
			{
				padding:10px;
			}

			.choices-container
			{
				line-height:36px;
				text-align:center;
				
				a
				{
					text-decoration:none;
					font-weight:bold;
					display:inline-block;
					width:50%;
					color:#333;
					border-right:1px solid #aaa;
				}

				.choice-success
				{
					background:#dff0d8;
				}
				.choice-success:hover
				{
					background:#cfe0c8;
				}

				.choice-danger
				{
					background:#f2dede;
				}
				.choice-danger:hover
				{
					background:#e2cece;
				}
			}
		}
	}
}